@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
}

h2 {
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  color: #000;
  padding: 1rem 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

header p {
  font-family: "Inter", sans-serif;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  color: #000;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  /* font-family: "Poppins", sans-serif; */
}

section p {
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  font-family: "Inter", sans-serif;
}

ul li {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  position: relative;
}

ul li::before {
  content: "-";
  /* color: #1a73e8; */
  position: absolute;
  left: 0;
}

footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.highlight {
  font-weight: 600;
  color: #e85a1a;
}
.highlight-red {
  font-weight: 600;
  color: red;
}
.highlight-blue {
  font-weight: 600;
  color: blue;
}
li img {
  width: 24px;
}

@media screen and (max-width: 550px) {
  ul li {
    padding-left: 0.2rem;
  }
  ul li:before {
    display: none;
  }
  li img {
    width: 20px;
  }
  main {
    padding: 0 1rem;
    margin: 1rem 0;
  }
  header {
    padding: 1rem 0;
  }
  header h1 {
    margin-bottom: -3px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  section h2 {
    font-size: 1.2rem;
    /* font-weight: 600; */
    font-family: "Poppins", sans-serif;
  }
}
